#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm

# Partition clearing information
clearpart --none --initlabel

# Use graphical/text/cmdline install
graphical

# eula acceptance
eula --agreed

# Use CDROM installation media
cdrom

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=localhost.rizvi
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

# Firewall Configuration
firewall --enabled
firewall --service=ssh,cockpit,https

# Root password
rootpw --iscrypted $6$bnnqTRKpG/Nmf2FK$Mu1CeZ25.GrANYhl1cmsFgjwXcOHijwkNDLK.uXbv13axT3QZFn5iOGoDqvs5TGjjfnk3gihF1lbMAOfrvYru0

# Run the Setup Agent on first boot
firstboot --enable

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd","cockpit.socket","httpd"

# System timezone
timezone America/New_York --isUtc

%packages
@^server-product-environment
@headless-management
@web-server
git
kexec-tools
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%onerror --erroronfail
%end
